body {
  font-family: 'Inter', sans-serif;
}

.IntroSection {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #3793f0;
  color: white;
}

#heading {
  font-weight: bold;
  margin-top: 20%;
  font-size: 500%
}

#introtext {
  margin-top: 10%;
  line-height: 1.3;
}

#picimage {
  margin-top: 3%;
  width: 60%;
  border-radius: 50%;
}

.contactContainer {
  display: flex;
  justify-content: center;
  margin-right: 45%;
  margin-top: 5%;
}

.contactItem {
  margin-left: 9%;
  transition: 0.2s;
}

.contactItem:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.contactItem img{
  width: 2em;
}

.contactItem:nth-child(2){
  line-height: 2;
}

.resume {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.resume:hover {
  cursor: pointer;
  text-decoration: underline;
}

.resume img {
  width: 8%;
  margin-right: 1%;
}

.resume a {
  color: white;
}

.scroll {
  margin-top: 12%;
  text-align: center;
  transition: 0.2s;
}

.scroll:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.scroll img{
  width: 20px;
}

.scroll h5{
  font-size: 100%;
}

#section2scroll {
  margin-top: 4%;
}

.PhilosophySection {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  color: #3793f0;
}

#philHeader {
  font-weight: bold;
  margin-top: 5%;
  text-align: center;
  font-size: 500%;
}

#philSubHeader {
  font-weight: bold;
  text-align: center;
}

.treenode {
  border-radius: 50%;
  border: none;
  width: 10em;
  height: 10em;
  background-color: #3793f0;
  color: white;
  box-shadow: 5px 5px grey;
  word-break: break-all;
}

.rootnode {
  margin-top: 4vh;
}

.leveltwonode, .levelthreenode1, .levelthreenode2{
  margin-top: 2vh;
  transition: 0.5s;
  opacity: 0;
}

.nodebox {
  display: flex;
  justify-content: space-between;
}

.levelonebox {
  display: flex;
  justify-content: center;
}
.leveltwobox, .levelthreebox {
  display: flex;
  justify-content: space-evenly;
}

.EducationSection {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #3793f0;
  color: white;
}

.educationheader {
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
  font-size: 300%
}

.institutionContainer {
  text-align: center;
}

.institution {
  position: relative;
}

.institutionContainer:nth-child(3) {
  margin-top: 15%;
}

.institution img{
  width: 50%;
  transition: 0.2s;
  margin-bottom: 2%;
}

.institution img:hover{
  filter: blur(2px) brightness(60%);
  transform: rotate(180deg);
}

.institution img:hover + h3 {
  opacity: 1;
}

.institution h3 {
  position: absolute;
  bottom: 33%;
  left: 38%;
  opacity: 0;
  transition: 0.2s;
}

.listrow {
  background-color: white;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  box-shadow: 8px 8px grey;
}

.listitem {
  margin-right: 2%;
  transform: scale(0.8);
}

.listblock {
  background-color: #fd807f;
  width: 10vh;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 120%;
  margin-right: 2%;
  color: black;
}

.listrow:nth-child(3) .listblock{
  background-color: #febf80 !important;
}

.listrow:nth-child(4) .listblock{
  background-color: #ffe080 !important;
}

.listrow:nth-child(5) .listblock{
  background-color: #fffe7f !important;
}

#section3scroll {
  margin-top: 40%;
}

.ProjectsSection {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  color: #3793f0;
}

#projectsheader {
  font-weight: bold;
  margin-top: 2%;
  text-align: center;
  font-size: 400%;
}

.slider {
  text-align: center;
  background-color: #3793f0;
  color: white;
  padding: 2%;
  margin-top: 5%;
}

.slider h3 {
  font-weight: bold;
  font-size: 200%;
}

.slider h5 {
  margin-top: 2%;
}
.slider img {
  width: 90%;
}

.sliderBox {
 display: flex;
 align-items: center;
 justify-content: center;
}

.selector:first-child, .selector:last-child {
  width: 2%;
  height: 2%;
  transition: 0.1s;
}

.selector:first-child {
  transform: rotate(90deg);
  margin-right: 2%;
}

.selector:first-child:hover {
  transform: rotate(90deg) scale(1.4);
  cursor: pointer;
  margin-right: 2%;
}

.selector:last-child {
  transform: rotate(-90deg);
  margin-left: 2%
}

.selector:last-child:hover {
  transform: rotate(-90deg) scale(1.4);
  cursor: pointer;
  margin-left: 2%
}
